[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flake8 = "*"
mypy = "*"
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
docker-compose = "*"
pylint = "*"
celery = "*"
redis = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.8"
